@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

/* VARIABLE */
:root{
    --major-bg-color: #131921;
    --minor-bg-color: #ffffff;
    --minor-bg-color:rgba(255, 255, 0, 0.74)

}

/* BODY */
body{
    background-color:lightpink;
}

/* HEADER */

.header{
    width: 100%;
    height: 50px;
    background-color:#007185
    display: flex;
    justify-content: center;

}
.header .header-nav{
    margin-top: 2px;
    display: flex;
    justify-content: center;
}

.header .header-nav .header-container {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-nav .header-container .wdapslap-logo{
    width: 100px;
}

.header .header-nav .header-container .header-search{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.header .header-nav .header-container .header-search .input-search{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding: 0 10px;
}

.header .header-nav .header-container .header-search .search-button{
    width: 40px;
    height: 42px;
    background-color: var(--major-bg-color);
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
}

.header .header-nav .header-container .header-cart{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header-nav .header-container .header-cart svg{
    width: 40px;
    height: 40px;
    color: white;
    justify-content: center;
}

/* section-1 */
.section-1{
    width: 100%;
    height: auto;
    background-image: url('https://images-eu.ssl-images-amazon.com/images/G/31/img22/Fashion/Gateway/BAU/Aug/Apay/GW-PC-Deals-Unrec-3000._CB629506848_.jpg');
    background-position: 20px;
    background-size: cover;
    display: flex;
}
.section-1 .section-1-container{
    margin-top: 300px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.section-1 .section-1-container .section-1-column{
    width: 100%;
    background-color: white;
    padding: 20px;
}
.section-1 .section-1-container .section-1-column img{
    margin-top: 20px;
    width: 100%;
    height: auto;
}
.section-1 .section-1-container .section-1-column p{
   margin-top: 10px;
   font-size: 14px;
   color: skyblue;
}
.section-1 .section-1-container .section-1-column button{
    margin-top: 20px;
    width: 100%;
    border: none;
    background-color: var(--amazon-major-color);
    padding: 10px;
    border-radius: 10px;
}

/* section-2 related items */

.section-2{
    margin: 20px;
    padding: 20px;
    background-color: white;
}
.section-2 .section-2-container h3{
    margin-bottom: 20px;
}
.section-2 .section-2-container .product-cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: auto;
}
.section-2 .section-2-container .product-cards .products-card{
    display: inline-block;
    width: 300px;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
}
.section-2 .section-2-container .product-cards .products-card img{
    width: auto;
    height: auto;
    max-width: 180px;
    max-height: 150px;
}

/* section-3 */

.section-3{
    background-color: white;
}
.section-3 .section-3-container{
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
}
.section-3 .section-3-container .product-detail-cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    overflow: auto;
}
.section-3 .section-3-container .product-detail-cards 
.product-detail-card{
    display: inline-block;
    width: 200px !important;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.section-3 .section-3-container .product-detail-cards 
.product-detail-card .product-detail-card-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-3 .section-3-container .product-detail-cards 
.product-detail-card .product-detail-card-img img{
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: 160px;
}
.section-3 .section-3-container .product-detail-cards 
.product-detail-card a{
    text-decoration: none;
    font-size: 14px;
    color: #007185;
}
.section-3 .section-3-container .product-detail-cards 
.product-detail-card a:hover{
    color: #c45500;
}
.section-3 .section-3-container .product-detail-cards 
.product-detail-card .product-delivered-by{
    text-decoration: none;
    color: #131921;
    font-size: 10px;
}

/* section-4 */
.section-4 {
    padding: 20px;
}

.section-4 .section-4-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-4 .section-4-container button{
    background-color: var(--amazon-major-color);
    border: none;
    width: 300px !important;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
}
footer {
    margin-top: 20px;
    font-size: 14px;
    width: 100%;
    height: 50px;
    color: white;
    background-color: var(--major-bg-color); 
    display: flex;
    justify-content: center;
    align-items: center;
}